.header__lang-item {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  transition: opacity 0.2s linear;
}

.header__lang-item:hover {
  opacity: 0.8;
}

@media screen and (max-width: 610px) {
  .header__lang-item {
    font-size: 18px;
    line-height: 20px;
  }
}
