@import "./__menu/footer__menu.css";
@import "./__menu-link/footer__menu-link.css";
@import "./__copyright/footer__copyright.css";

.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 610px) {
  .footer {
    display: block;
  }
}
